{
  "env":
  {
    "browser": true,
    "es2021": true
  },
  "globals":
  {
    "SharedArrayBuffer": "readonly",
    "d3": false,
    "customElements": true,
    "HTMLImports": true,
    "ShadyDOM": true
  },
  "parserOptions":
  {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules":
  {
    "indent": ["error", 2],
    "space-before-function-paren": ["error", "never"]
  }
}
