.container-blog {
  margin: 2rem auto;
}

.container-blog-index .blog-grid-element {
  border: 0;
  border-radius: .5rem;
  width: 100%;
}

.blog-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: var(--numbers);
  text-align: center;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.blog-grid-element {
  text-decoration: none;
  color: var(--black);
  padding: 1rem;
  display: inline-block;
  background: var(--white);
  box-shadow: var(--shadow);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top: 5px solid var(--orange);
}

.blog-grid-element-title {
  font-size: 1.25rem;
  font-family: var(--numbers);
  margin-bottom: .25rem;
  margin-top: 0;
}

.blog-grid-element-date {
  font-size: .725rem;
  margin-top: .25rem;
  font-family: var(--numbers);
}

.blog-grid-element-text {
  font-size: .875rem;
  font-family: var(--text);
  line-height: 1.4;
}

@media only screen and (min-width: 48rem) {

  .blog-grid {
    grid-template-columns: repeat(2, minmax(250px, 400px));
  }

  .container-blog {
    max-width: 80%;
    display: flex;
    justify-content: center;
  }

}

.post-table {
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5rem;
  background: var(--white);
}

.post-table td {
  padding: .5rem;
}
