.container-chart {
  max-width: 60rem;
  padding: 3rem .5rem;
  margin: 0 auto;
}

.container-chart-title {
  font-family: var(--roboto);
  font-weight: bold;
  font-size: 2rem;
  width: max-content;
  color: var(--blue);
  margin-bottom: 1rem;
}

.charts-warning {
  padding: 1rem;
  font-size: .875rem;
  background-color: var(--orange-light);
  width: 25rem;
}

.bg-secondary {
  background-color: var(--bg-charts-table);
}

.charts {
  position: relative;
  text {
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 14px;
  }

  .axis-x text {
    font-size: 12px;
  }

  .line-month-price,
  .line-day-price,
  .line-day-price-last-year,
  .line-hour-price,
  .line-day-week-price,
  .line-main-line-price,
  .line-hour-price-gas,
  .line-day-price-gas,
  .line-month-price-gas {
    fill: none;
    stroke-width: 1;
    stroke: var(--line-chart);
  }

  .circle-focus {
    fill: var(--blue);
  }

  .line-month-price {
    stroke-width: 1;
  }

  .axis {
    text {
      font-family: var(--roboto);
    }
  }

  .axis-y {
    .domain {
      stroke: none;
    }

    line {
      stroke-dasharray: 1px;
    }
  }
}

.charts-text {
  font-family: var(--text);
  font-size: 1rem;
  color: var(--black);
  line-height: 1.4;
  max-width: 25rem;
}

.overlay {
  fill: transparent;
}

.y-hover-line {
  stroke: var(--blue);
  stroke-width: 1px;
}

.tooltip {
  padding: 1.25rem;
  background-color: #FDFDFE;
  color: var(--blue);
  border-radius: 4px;
  position: absolute;
  opacity: 1;
  font-family: var(--text);
  border: 1px solid #D0D5D6;

  p:empty {
    display: none;
  }
}

@media only screen and (max-width: 760px) {

  .charts text {
    font-size: 12px;
  }

  .charts .line-month-price {
    stroke-width: 1px;
  }
}

select {
  background-color: var(--white);
  border: thin solid var(--blue);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: .5em 3.5em .5em 1em;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

select.classic {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.tooltip-area-stack {
  pointer-events: none;
}

.tooltip-area-stack-grid-key,
.tooltip-area-stack-grid-value {
  font-size: 14px;
  display: inline-block;
  padding: .25rem;
}

.tooltip-area-stack-grid-key {
  font-weight: bold;
  text-transform: capitalize;
  color: var(--white);
}

.tooltip-area-stack-grid-value {
  text-align: right;
  font-weight: bold;
}

.tooltip-area-stack-year {
  font-size: 1.25rem;
  margin-bottom: .5rem;
  display: block;
  font-weight: bold;
}

.x-hover-line {
  stroke: var(--black);
  stroke-width: 2px;
}

.area-stacked-energy-consumption {
  .tooltip-area-stack {
    padding: .5rem;
    width: 250px;
  }
}

.tooltip-area-stack-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: .5rem;
}

@media only screen and (max-width: 560px) {
  .container-chart-title,
  .charts-warning {
    width: 100%;
  }

  .container-chart {
    padding: 0 .5rem 1.5rem;
  }
}
