.container-chart {
  max-width: 60rem;
  padding: 3rem .5rem;
  margin: 0 auto;
}

.bg-charts {
  background-color: #dde2ed;
}

.charts {
  position: relative;
  text {
    font-family: var(--roboto);
    font-size: 14px;
  }

  .line-month-price,
  .line-day-price,
  .line-hour-price {
    fill: none;
    stroke-width: 1;
    stroke: var(--line-chart);
  }

  .circle-focus {
    fill: var(--blue);
  }

  .line-month-price {
    stroke-width: 3;
  }

  .axis {
    text {
      font-family: var(--numbers);
    }
  }

  .axis-y {
    .domain {
      stroke: none;
    }

    line {
      stroke-dasharray: 1px;
    }
  }
}

.charts-text {
  font-family: var(--adamina);
  color: var(--black);
}

.overlay {
  fill: transparent;
}

.y-hover-line {
  stroke: var(--blue);
  stroke-width: 1px;
}

.tooltip {
  padding: 1.25rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px;
  position: absolute;
  opacity: 1;
  box-shadow: var(--shadow);
  font-family: var(--adamina);

  p:empty {
    display: none;
  }
}
