.faq-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: var(--numbers);
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -10px;
    width: 5px;
    height: 100%;
    background: var(--orange);
  }
}

.faq-title-element {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--roboto);
  cursor: pointer;
  &::marker {
    color: var(--orange);
  }
}

.faq-text {
  font-family: var(--text);
  padding-left: 1.5rem;
}

details {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
