@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-condensed-v24-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v24-latin-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-condensed-v24-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v24-latin-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/fjalla-one-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/fjalla-one-v12-latin-regular.woff') format('woff');
  font-display: swap;
}
