* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  color: var(--blue);
  font-family: var(--text);
  position: relative;
  font-display: swap;
}

body {
  min-height: 100vh;
}

main {
  min-height: 70vh;
}

.hidden {
  display: none;
}

.container-btns-order {
  margin-bottom: .75rem;
}

.btn-order,
.btn-blindness {
  background: var(--btn-blue);
  color: var(--white);
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: .75rem 1rem;
  border-radius: 4px;
  font-family: var(--text);
  transition: background 300ms ease-in-out;
  &:hover {
    background: var(--btn-blue-hover);
  }
  &:not(:last-child) {
    margin-right: .5rem;
  }
  &.btn-newsletter {
    background: var(--orange);
    color: var(--black);
    display: inline-block;
    text-decoration: none;
    &:hover {
      background-color: var(--orange-light);
    }
  }
}

.btn-charts {
  margin-bottom: 1rem;
}

.btn-gas {
  text-decoration: none;
  margin-bottom: 1rem;
  display: inline-block;
}

.btn-blindness {
  background: var(--black);
  color: var(--white);
  float: right;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.container-footer {
  max-width: 90vw;
  margin: 0 auto;
}

.container-hour {
  padding: 1rem 0;
  border-radius: 4px;
  color: var(--black);
}

.container-hour-date {
  font-size: 1rem;
  font-family: var(--fontSystem);
  display: block;
}

.container-hour-price,
.container-hour-datetime {
  font-family: var(--numbers);
  font-size: 6rem;
  display: block;
  line-height: 1;
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  width: max-content;
  box-shadow: var(--shadow);
  min-height: 8rem;
}

.container-hour-price {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.container-cheap {
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  box-shadow: var(--shadow);
  .post-text {
    margin-top: 0;
  }
}

.container-wrapper,
.table-next-day-grid {
  margin: 1rem 0;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr;
  &.show {
    display: grid;
  }
}

.container-wrapper {
  min-height: 600px;
}

.container-table-next-day-grid {
  display: none;
  min-height: 650px;
  &.show {
    display: block;
  }
  .container-btns-order {
    margin-top: .75rem;
  }
  &.container-table-next-day-grid-tomorrow {
    display: block;
  }
}

.container-hour-datetime {
  font-size: 2rem;
  margin-bottom: -4.75rem;
  padding: 1rem;
  width: max-content;
}

.container-euro-kwm {
  font-size: 2rem;
}

.container-calendar {
  height: auto;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 0;
  background: var(--white);
}

.container-calendar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.post-container {
  max-width: 40rem;
  margin: .5rem auto;
  padding: 1rem 0;
  img {
    width: 100%;
    margin: 1.5rem 0;
  }
  ul li {
    padding: .25rem;
  }
}

.post-title {
  font-size: 2rem;
  font-family: var(--text);
  margin-bottom: .25rem;
  margin-top: .5rem;
}

.post-subtitle {
  font-size: 1.5rem;
  font-family: var(--text);
  margin-bottom: .25rem;
  margin-top: .5rem;
}

.post-minititle {
  font-size: 1.25rem;
  font-family: var(--text);
  margin-bottom: .25rem;
  margin-top: .5rem;
}

.post-list li {
  margin-bottom: .75rem;
}

.post-excerpt {
  text-decoration: none;
  color: var(--black);
  padding: 1rem 0;
  display: inline-block;
}

.section-title {
  font-size: 1.75rem;
  font-family: var(--numbers);
}

.section-subtitle {
  font-family: var(--numbers);
  margin: .5rem 0;
}

.post-text {
  font-size: 1rem;
  font-family: var(--text);
  line-height: 1.4;
  margin-top: .5rem;
  display: inline-block;
}

h2.post-text,
h3.post-text {
  margin: 0;
}

.post-warning {
  background-color: var(--red-light);
  padding: 1rem;
  color: var(--black);
  border-radius: .5rem;
  box-shadow: var(--shadow);
}

.post-warning-orange {
  background-color: var(--orange);
  &:empty {
    display: none;
  }
}

.post-text-date {
  font-size: .75rem;
  margint-top: .25rem;
  font-family: var(--numbers);
}

.temp-text {
  padding: .5rem;
  background: var(--white);
  border-radius: .5rem;
  display: block;
  width: max-content;
  margin-bottom: .5rem;
}

.container-calendar-element {
  font-size: 1rem;
  font-family: var(--text);
  padding: 1rem;
  text-align: center;
  border-radius: 4px;

  &.valle {
    background: var(--green-light);
  }

  &.punta {
    background: var(--red-light);
  }

  &.intermedia {
    background: var(--orange-light);
  }
}

.container-calendar-green {
  background: var(--green);
}

.container-calendar-element-hour,
.container-calendar-element-text {
  display: block;
}

.container-calendar-element-hour {
  font-family: var(--numbers);
  font-size: 1.5rem;
  font-weight: bold;
}

.container-table-price-element {
  display: grid;
  column-gap: .25rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .75rem;
}

.element-hour-disabled {
  opacity: .3;
}

.taxes {
  font-size: 12px;
  font-family: var(--text);
  margin: 0;
  width: 100%;
  text-align: right;
}

.container-table-next-day-title {
  font-size: .725rem;
  font-family: var(--text);
  margin: 0;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

.container-table-price-element-hour,
.container-table-price-element-price {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--numbers);
  padding: .25rem .5rem;
  border-radius: 4px;

  &.valle {
    background: var(--green-light);
  }

  &.punta {
    background: var(--red-light);
  }

  &.llano {
    background: var(--orange-light);
  }
}

.container-table-price-element-hour {
  position: relative;
  &.tramo-valle:after,
  &.tramo-llano:after,
  &.tramo-punta:after {
    content: 'valle';
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: .25rem;
    font-size: 12px;
    background: var(--white);
    padding: .125rem .5rem;
    font-family: var(--roboto);
  }

  &.tramo-valle.tramo-hidden:after,
  &.tramo-llano.tramo-hidden:after,
  &.tramo-punta.tramo-hidden:after {
    display: none;
  }

  &.tramo-punta:after {
    content: 'punta';
  }

  &.tramo-llano:after {
    content: 'llano';
  }
}

.index-label {
  cursor: pointer;
  margin: .5rem 0;
  display: block;
}

.table-next-day {
  background: var(--white);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

details[open].table-next-day summary,
details.table-next-day summary {
  background: none;
  position: static;
  padding: 0;
}

details {
  .summary-text-close {
    display: none;
  }
  .summary-text-open {
    vertical-align: top;
    display: inline-block;
  }
  summary {
    position: sticky;
    top: 0;
    cursor: pointer;
    font-weight: bold;
    padding: .75rem 0;
    background-color: var(--bg-charts-table);
    z-index: 10;
    list-style-image: url("data:image/svg+xml,%0A%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cheveron-outline-right' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M9,0 C13.9705627,0 18,4.02943725 18,9 C18,13.9705627 13.9705627,18 9,18 C4.02943725,18 0,13.9705627 0,9 C0,4.02943725 4.02943725,0 9,0 Z M1.8,9 C1.8,12.9764502 5.0235498,16.2 9,16.2 C12.9764502,16.2 16.2,12.9764502 16.2,9 C16.2,5.0235498 12.9764502,1.8 9,1.8 C5.0235498,1.8 1.8,5.0235498 1.8,9 Z M11.286,9.63 L8.1,12.825 L6.831,11.556 L9.36,9 L6.84,6.453 L8.1,5.184 L11.916,9 L11.286,9.63 L11.286,9.63 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  summary::-webkit-details-marker {
    background: url("data:image/svg+xml,%0A%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cheveron-outline-right' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M9,0 C13.9705627,0 18,4.02943725 18,9 C18,13.9705627 13.9705627,18 9,18 C4.02943725,18 0,13.9705627 0,9 C0,4.02943725 4.02943725,0 9,0 Z M1.8,9 C1.8,12.9764502 5.0235498,16.2 9,16.2 C12.9764502,16.2 16.2,12.9764502 16.2,9 C16.2,5.0235498 12.9764502,1.8 9,1.8 C5.0235498,1.8 1.8,5.0235498 1.8,9 Z M11.286,9.63 L8.1,12.825 L6.831,11.556 L9.36,9 L6.84,6.453 L8.1,5.184 L11.916,9 L11.286,9.63 L11.286,9.63 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    color: transparent;
  }
}

details[open] {
  .summary-text-close {
    vertical-align: top;
    display: inline-block;
  }
  .summary-text-open {
    display: none;
  }
  summary {
    position: sticky;
    top: 0;
    padding: .75rem 0;
    background-color: var(--bg-charts-table);
    z-index: 10;
    list-style-image: url("data:image/svg+xml,%0A%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cheveron-outline-down' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M18,9 C18,13.9705627 13.9705627,18 9,18 C4.02943725,18 0,13.9705627 0,9 C0,4.02943725 4.02943725,2.22044605e-15 9,2.22044605e-15 C13.9705627,2.22044605e-15 18,4.02943725 18,9 Z M9,1.8 C5.0235498,1.8 1.8,5.0235498 1.8,9 C1.8,12.9764502 5.0235498,16.2 9,16.2 C12.9764502,16.2 16.2,12.9764502 16.2,9 C16.2,5.0235498 12.9764502,1.8 9,1.8 Z M8.37,11.286 L5.175,8.1 L6.444,6.831 L9,9.36 L11.547,6.822 L12.816,8.1 L9,11.916 L8.37,11.286 L8.37,11.286 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  summary::-webkit-details-marker {
    background: url("data:image/svg+xml,%0A%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cheveron-outline-down' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M18,9 C18,13.9705627 13.9705627,18 9,18 C4.02943725,18 0,13.9705627 0,9 C0,4.02943725 4.02943725,2.22044605e-15 9,2.22044605e-15 C13.9705627,2.22044605e-15 18,4.02943725 18,9 Z M9,1.8 C5.0235498,1.8 1.8,5.0235498 1.8,9 C1.8,12.9764502 5.0235498,16.2 9,16.2 C12.9764502,16.2 16.2,12.9764502 16.2,9 C16.2,5.0235498 12.9764502,1.8 9,1.8 Z M8.37,11.286 L5.175,8.1 L6.444,6.831 L9,9.36 L11.547,6.822 L12.816,8.1 L9,11.916 L8.37,11.286 L8.37,11.286 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    color: transparent;
  }
}

.table-next-day[open] {
  .container-table-next-day-grid {
    display: grid;
  }
}

.menu {
  background: none;
  padding: 1rem;
  text-align: center;
}

.menu-container {
  background: var(--white);
  padding: 1rem;
  margin: 0 auto;
  width: max-content;
  border-radius: 4px;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bg-green-light {
  background-color: var(--green-light);
}

.menu-element {
  font-family: var(--numbers);
  text-decoration: none;
  color: var(--blue);
  padding: .5rem;
  text-transform: uppercase;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}

.btn-whatsapp {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--numbers);
  display: block;
  margin-top: .5rem;
  background-color: #62C86F;
  padding: .35rem .75rem;
  width: 100%;
  border-radius: .25rem;
}

.btn-whatsapp-text,
.icon-whatsapp {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  color: var(--blue);
}

.icon-whatsapp {
  margin-right: .5rem;
}

.icon-whatsapp:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='662.234' height='663.504' viewBox='0 0 175.216 175.552'%3E%3Cdefs%3E%3ClinearGradient xlink:href='%23a' id='c' x1='85.915' y1='32.567' x2='86.535' y2='137.092' gradientUnits='userSpaceOnUse'/%3E%3ClinearGradient id='a'%3E%3Cstop style='stop-color:%2357d163;stop-opacity:1' offset='0'/%3E%3Cstop style='stop-color:%2323b33a;stop-opacity:1' offset='1'/%3E%3C/linearGradient%3E%3Cfilter style='color-interpolation-filters:sRGB' id='b' x='-.057' width='1.115' y='-.057' height='1.114'%3E%3CfeGaussianBlur stdDeviation='3.531'/%3E%3C/filter%3E%3C/defs%3E%3Cpath style='fill:%23b3b3b3;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:.352777;filter:url(%23b)' d='m54.532 138.45 2.236 1.324c9.387 5.572 20.15 8.518 31.125 8.523h.024c33.707 0 61.14-27.425 61.153-61.135.006-16.335-6.349-31.696-17.895-43.251-11.547-11.555-26.9-17.921-43.235-17.928-33.733 0-61.165 27.423-61.178 61.13-.005 11.55 3.228 22.8 9.349 32.535l1.455 2.312-6.18 22.559zm-40.81 23.544L24.16 123.88c-6.438-11.154-9.825-23.808-9.82-36.772.016-40.555 33.02-73.55 73.577-73.55 19.68.01 38.154 7.67 52.047 21.572 13.89 13.903 21.537 32.383 21.53 52.038-.018 40.552-33.027 73.552-73.577 73.552-.003 0 .003 0 0 0h-.032a73.531 73.531 0 0 1-35.16-8.954zm0 0'/%3E%3Cpath style='fill:%23fff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:.352777' d='m12.966 161.238 10.439-38.114c-6.439-11.154-9.826-23.808-9.822-36.772.017-40.555 33.02-73.55 73.578-73.55 19.681.01 38.154 7.67 52.047 21.572 13.89 13.903 21.537 32.383 21.53 52.038-.017 40.553-33.027 73.552-73.577 73.552-.003 0 .003 0 0 0h-.032a73.531 73.531 0 0 1-35.16-8.954z'/%3E%3Cpath style='fill:url(%23linearGradient1780);fill-opacity:1;stroke-width:.352777' d='M87.184 25.227c-33.733 0-61.165 27.423-61.178 61.13-.005 11.55 3.228 22.8 9.35 32.535l1.454 2.312-6.18 22.56 23.147-6.07 2.235 1.324c9.387 5.572 20.15 8.518 31.125 8.524h.024c33.707 0 61.14-27.426 61.153-61.136.006-16.335-6.348-31.696-17.895-43.25-11.546-11.556-26.9-17.922-43.235-17.93Z'/%3E%3Cpath style='opacity:1;fill:url(%23c);fill-opacity:1;stroke-width:.514927;stroke-linecap:round;stroke-linejoin:round;stop-color:%23000' d='M87.184 25.227c-33.733 0-61.165 27.423-61.178 61.13-.005 11.55 3.228 22.8 9.349 32.535l1.455 2.312-6.18 22.559 23.147-6.07 2.235 1.325c9.387 5.572 20.15 8.518 31.125 8.523h.024c33.706 0 61.14-27.425 61.153-61.135.006-16.335-6.348-31.696-17.895-43.251-11.547-11.555-26.9-17.921-43.235-17.928Z'/%3E%3Cpath style='fill:%23fff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:.352777' d='M68.772 55.603c-1.378-3.06-2.827-3.123-4.137-3.177-1.072-.045-2.298-.042-3.523-.042-1.227 0-3.218.46-4.902 2.3-1.685 1.84-6.435 6.286-6.435 15.332 0 9.045 6.588 17.785 7.506 19.013.919 1.226 12.718 20.38 31.405 27.75 15.53 6.123 18.69 4.905 22.061 4.599 3.371-.306 10.877-4.447 12.408-8.74 1.533-4.292 1.533-7.97 1.074-8.74-.46-.767-1.686-1.226-3.525-2.145s-10.877-5.367-12.563-5.98c-1.685-.614-2.91-.92-4.136.92-1.225 1.84-4.746 5.98-5.82 7.206-1.072 1.228-2.144 1.38-3.984.462-1.838-.922-7.76-2.861-14.783-9.124-5.466-4.873-9.155-10.891-10.228-12.73-1.072-1.84-.115-2.835.807-3.752.826-.824 1.839-2.147 2.76-3.22.916-1.074 1.223-1.84 1.835-3.065.613-1.228.307-2.301-.153-3.22-.46-.92-4.032-10.012-5.667-13.647'/%3E%3C/svg%3E%0A");
  background-size: 1.5rem;
}

.sponsor-card {
  font-family: var(--text);
  background: var(--white);
  box-shadow: rgba(0, 0, 0, .16) 0 4px 24px 0, rgba(0, 0, 0, .08) 0 2px 12px 0, rgba(64, 64, 76, .3) 0 0 0 .6px;
  padding: 1rem;
  border-radius: .5rem;
  margin: 1rem 0;
}

.sponsor-card-text {
  margin-top: 0;
  font-size: .875rem;
}

.ad-rectangle {
  display: block;
  height: 300px;
}

.sponsor-card-buttons-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.sponsor-card-button {
  border-radius: 4px;
  border: 1px solid var(--btn-blue);
  padding: .5rem 1rem;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  font-family: var(--text);
  background-color: var(--btn-blue);
  transition: background-color .3s ease-in;
  &:hover {
    background-color: var(--btn-blue-hover);
  }
}

#container-max-min-avg {
  margin: 1rem 0;
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 1rem;
}

#container-max-min-avg .btn-whatsapp {
  width: max-content;
}

.container-max-min-avg-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container-max-min-avg-number {
  display: block;
  font-family: var(--numbers);
  margin-top: .25rem;
}

#contanier-avg-price {
  border-radius: .35rem;
  background-color: #A7A0A0;
  padding: .5rem;
}

#contanier-min-price {
  border-radius: .35rem;
  background-color: var(--green-light);
  padding: .5rem;
}

#contanier-max-price {
  border-radius: .35rem;
  padding: .5rem;
  background-color: var(--red-light);
}

#button-prices-next-day {
  margin: 1rem 0;
  box-shadow: var(--shadow);
  background-color: var(--btn-blue);
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--btn-blue-hover);
  }
}

@media only screen and (min-width: 48rem) {

  .container {
    max-width: 65vw;
  }

  .container-footer {
    max-width: 65vw;
  }

  .container-hour-price {
    font-size: 8rem;
    padding: 2rem 2rem 1rem .75rem;
  }

  .container-hour-datetime {
    padding: 1rem;
  }

  .container-calendar-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
  }

  .container-wrapper,
  .table-next-day-grid {
    grid-template-columns: 1fr 1fr;
  }

  .container-wrapper {
    margin-bottom: 0;
  }

  .container-table-next-day-title {
    font-size: 1rem;
  }

  .sponsor-card-buttons-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-container {
    display: block;
  }

  .container-max-min-avg-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.modal-adsense {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  z-index: 1000;
  font-family: system-ui;
  width: auto;
  height: auto;
  font-size: 1rem;
}

@media (max-width: 980px) {
  .modal-adsense {
    width: 90%;
    font-size: 2rem;
  }
}

.button {
  text-transform: uppercase;
  background-color: #149d2b;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  padding: .5em 1em;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  text-decoration: none;
  display: inline-block;
}

.reload-button {
  background-color: #fff;
  color: black;
  border: none;
  padding: .5em 1em;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  text-decoration: underline;
  display: inline-block;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  /* Fondo negro transparente */
  z-index: -1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

ins.adsbygoogle {
  display: block;
  min-height: 280px;
  background-color: #f9f9f9;
}

@media only screen and (min-width: 48rem) {
  ins.adsbygoogle {
    min-height: 250px;
  }
}

.line-chart-main-line-price,
.line-chart-day-price,
.line-chart-hour-price,
.line-chart-month-price,
.line-chart-day-price-last-year,
.line-chart-day-week-price {
  min-height: 500px;
}

.btn-whatsapp,
#container-max-min-avg {
  min-height: 2.5rem;
}

.table-next-day-grid {
  min-height: 600px;
}

.container-table-price-left,
.container-table-price-right,
.table-next-day-grid-left,
.table-next-day-grid-right {
  min-height: 300px;
}
