* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  color: var(--black);
  font-family: var(--text);
  position: relative;
}

.container {
  max-width: 90vw;
  height: 80vh;
  margin: 0 auto;
}

.container-footer {
  max-width: 90vw;
  margin: 0 auto;
}

.container-hour {
  padding: 1rem 0;
  border-radius: 4px;
}

.container-hour-date {
  font-size: 1rem;
  font-family: var(--fontSystem);
  display: block;
}

.container-hour-price,
.container-hour-datetime {
  font-family: var(--numbers);
  font-size: 6rem;
  display: block;
  line-height: 1;
  background: var(--white);
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.container-cheap,
.container-expensive {
  background: var(--white);
  padding: 1rem;
  margin: 1rem 0;
  border-right-radius-top: 5px;
  border-right-radius-bottom: 5px;
  width: 90%;
  border-left: 5px solid var(--green-dark);
}

.container-expensive {
  border-left: 5px solid var(--red-dark);
}

.container-cheap {
  margin-top: 4rem;
}

.container-hour-datetime {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: max-content;
}

.container-euro-kwm {
  font-size: 2rem;
}

.container-calendar {
  height: auto;
  background: var(--white);
  padding: 2rem;
  margin: 0 auto;
  margin-top: 0;
}

.container-calendar-title {
  font-size: 1.25rem;
  margin: 0 0 .5rem;
  font-weight: normal;
}

.container-calendar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.container-calendar-element {
  font-size: 1rem;
  font-family: var(--roboto);
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  &.valle {
    background: var(--green);
  }
  &.punta {
    background: var(--red);
  }
  &.intermedia {
    background: var(--orange);
  }
}

.container-calendar-element-hour,
.container-calendar-element-text {
  display: block;
}

.container-calendar-element-hour {
  font-family: var(--numbers);
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (min-width: 48rem) {

  .container-hour {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    max-width: 50vw;
  }

  .container-footer {
    max-width: 50vw;
  }

  .container-hour-price {
    font-size: 8rem;
  }

  .container-cheap,
  .container-expensive {
    width: max-content;
    min-width: 20rem;
  }

  .container-hour-price,
  .container-hour-datetime {
    padding: 2rem;
  }

  .container-calendar-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
  }
}
