* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  color: var(--black);
  font-family: var(--roboto);
  position: relative;
}

body {
  min-height: 100vh;
}

main {
  min-height: 70vh;
}

.hidden {
  display: none;
}

.container-btns-order {
  margin-bottom: .5rem;
}

.btn-order {
  background: var(--btn-blue);
  color: var(--white);
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: .75rem 1rem;
  border-radius: 4px;
  transition: background 300ms ease-in-out;
  &:hover {
    background: var(--btn-blue-hover);
  }
  &:not(:last-child) {
    margin-right: .5rem;
  }
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.container-footer {
  max-width: 90vw;
  margin: 0 auto;
}

.container-hour {
  padding: 1rem 0;
  border-radius: 4px;
}

.container-hour-date {
  font-size: 1rem;
  font-family: var(--fontSystem);
  display: block;
}

.container-hour-price,
.container-hour-datetime {
  font-family: var(--numbers);
  font-size: 6rem;
  display: block;
  line-height: 1;
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  width: max-content;
}

.container-cheap {
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.container-wrapper,
.table-next-day-grid {
  margin: 1rem 0;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr;
  &.show {
    display: grid;
  }
}

.container-table-next-day-grid {
  display: none;
  &.show {
    display: block;
  }
  .container-btns-order {
    margin-top: .75rem;
  }
}

.container-hour-datetime {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: max-content;
}

.container-euro-kwm {
  font-size: 2rem;
}

.container-calendar {
  height: auto;
  background: var(--white);
  padding: 1rem;
  margin: 0 auto;
  margin-top: 0;
}

.container-calendar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.post-container {
  max-width: 40rem;
  margin: .5rem auto;
  padding: 1rem 0;
}

.post-title {
  font-size: 1.25rem;
  font-family: var(--text);
  margin-bottom: .25rem;
  margin-top: 0;
}

.post-excerpt {
  text-decoration: none;
  color: var(--black);
  padding: 1rem 0;
  display: inline-block;
}

.section-title {
  font-size: 1.75rem;
  font-family: var(--roboto);
}

.post-text {
  font-size: 1rem;
  font-family: var(--text);
}

.post-text-date {
  font-size: .75rem;
  margint-top: .25rem;
  font-family: var(--numbers);
}

.temp-text {
  padding: .5rem;
  background: var(--white);
  border-radius: .5rem;
  display: block;
  width: max-content;
  margin-bottom: .5rem;
}

.container-calendar-element {
  font-size: 1rem;
  font-family: var(--roboto);
  padding: 1rem;
  text-align: center;
  border-radius: 4px;

  &.valle {
    background: var(--green-light);
  }

  &.punta {
    background: var(--red-light);
  }

  &.intermedia {
    background: var(--orange-light);
  }
}

.container-calendar-green {
  background: var(--green);
}

.container-calendar-element-hour,
.container-calendar-element-text {
  display: block;
}

.container-calendar-element-hour {
  font-family: var(--numbers);
  font-size: 1.5rem;
  font-weight: bold;
}

.container-table-price-element {
  display: grid;
  column-gap: .25rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .75rem;
}

.element-hour-disabled {
  opacity: .3;
}

.taxes {
  font-size: 12px;
  font-family: var(--roboto);
  margin: 0;
  width: 100%;
  text-align: right;
}

.container-table-next-day-title {
  font-size: 1rem;
  font-family: var(--roboto);
  margin-top: 0;
  margin-bottom: .5rem;
  text-transform: uppercase;
  cursor: pointer;
  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='currentColor' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'%3E%3C/path%3E%3C/svg%3E");
    width: .75rem;
    height: .75rem;
    display: inline-block;
    background-repeat: no-repeat;
  }
  &.rotate {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

.container-table-price-element-hour,
.container-table-price-element-price {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--numbers);
  padding: .25rem .5rem;

  &.valle {
    background: var(--green-light);
  }

  &.punta {
    background: var(--red-light);
  }

  &.llano {
    background: var(--orange-light);
  }
}

.table-next-day {
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.menu {
  background: none;
  padding: 1rem;
  text-align: center;
}

.menu-element {
  font-family: var(--roboto);
  color: var(--black);
  font-weight: bold;
  padding: 0 .5rem;
  &:hover {
    color: #333;
  }
}

@media only screen and (min-width: 48rem) {

  .container {
    max-width: 50vw;
  }

  .container-footer {
    max-width: 50vw;
  }

  .container-hour-price {
    font-size: 8rem;
    padding: 2rem;
  }

  .container-hour-datetime {
    padding: 1rem;
  }

  .container-calendar-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
  }

  .container-wrapper,
  .table-next-day-grid {
    grid-template-columns: 1fr 1fr;
  }

  .container-wrapper {
    margin-bottom: 0;
  }

}
