:root {
  --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
  --numbers: 'Fjalla One', sans-serif;
  --text: 'Roboto Condensed', sans-serif;
  --black: #111;
  --white: #fff;
  --green: #a2fcc1;
  --green-dark: #5cba95;
  --orange: #ffae3a;
  --orange-dark: #e86d5f;
  --red: #ec1d2f;
  --red-dark: #8c1540;
}
